

 <div class="container">
  <img src=" https://i2.wp.com/hipfoodiemom.com/wp-content/uploads/2020/04/IMG_9525-2.jpg" alt="Apple" width="100%" height="">
  <div class="centered">
    <div>
        Resturant Name
    </div>
    <!--We make a for each statement for each review here,  -->
    <p>Example of a review top should be resturant</p>

<div>
    Post Date and User:
</div>
  </div>
</div>