

 <div class="container">
  <img src=" https://i2.wp.com/hipfoodiemom.com/wp-content/uploads/2020/04/IMG_9525-2.jpg" alt="Apple" width="100%" height="">
  <div class="centered ">
     {{#each restaurants}}
    <div class="card bg-info">
      <h2 class="restaurant-title d-flex justify-content-center text-danger">{{restaurant_name}}</h2>
      <p class="foodtype">Food Type: {{food_type}}</p>
      <p>Most Recent review on {{format_date createdAt}}</p> <!-- Example -->
    </div>
  {{/each}}
</div>
  </div>
</div>