 
{{#if loggedIn}}
  <div class="d-flex justify-content-center bg-dark text-success">
    <span>Welcome, {{user.username}}!</span>
  </div>
{{/if}}
 
 
 <div class=" d-flex  justify-content-center bg-dark text-success">
        <span>Click Restaurants to view video Blogs, or Add new restaurants</span>
      </div>

<div class="container" style="width: 100%;">
  <img src="assets/banner.png" alt="Apple" class="w-100" style="position: absolute; z-index: -1;">
</div>

<div class="container">
  <div class="row justify-content-center">
    {{#each restaurants}}
    <div class="col-md-6 col-lg-4 mt-3">
      <a href="/restaurant/{{id}}">
        <div class="card bg-warning">
          <h2 class="restaurant-title d-flex justify-content-center text-danger">{{restaurant_name}}</h2>
          <p class="foodtype d-flex justify-content-center">{{food_type}}</p>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>

