
<!-- TODO: For each statement, for each resturant in db post them, with a clickable link to /api/resturant/id reviews-->

<div class="d-flex justify-content-center resturantAdd">

            <button id="resturantAdd" class="btn btn-primary resturantAdd">Add Restaurant</button>
           
</div>
<div> <!-- examples -->
  Restaurant 1:
</div>


<div>
  Restaurant 2:
</div>

<div>
  Restaurant 3:
</div>

<script src=".\js\restaurant.js"></script>