<!-- TODO: For each statement, for each resturant in db post them, with a clickable link to /api/resturant/id reviews-->

<div>
  Resturant 1:
</div>


<div>
  Resturant 2:
</div>

<div>
  Resturant 3:
</div>