<!-- TODO: For each statement, for each restaurant in db post them, with a clickable link to /api/restaurant/id reviews-->
<div class="d-flex justify-content-center restaurantAdd">
  <button id="restaurantAdd" class="btn btn-primary restaurantAdd">Add Restaurant</button>
</div>

<div>
  {{#each restaurants}}
    <div class="card bg-info">
      <h2 class="restaurant-title d-flex justify-content-center text-danger">{{restaurant_name}}</h2>
      <p class="foodtype">Food Type: {{food_type}}</p>
      <a href="/restaurant/{{id}}" class="btn btn-light review-button d-flex justify-content-center">
        View {{restaurant_name}} Video Blogs
      </a>
    </div>
  {{/each}}
</div>

<script src="./js/restaurant.js"></script>