 <form class="addrestaurant-form">
  <div class="form-group row">
    <label for="restaurantName" class="col-sm-2 col-form-label">Restaurant Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="restaurantName" placeholder="Restaurant Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="foodType" class="col-sm-2 col-form-label">Type Of Food</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="foodType" placeholder="Food Type">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit Restaurant</button>
    </div>
  </div>
</form>

<script src="./js/restaurantadd.js"></script>