<!-- TODO: For each statement, for each resturant, show all their associated reviews.-->

<div>
  Resturant 1:
  <div>
    <ul>
      <li>
    Review 1:
    </li>
    <li>
    Review:2
    </li>
    </ul>
  </div>
</div>